.kasa-apropos{
     @include pageLengthdesktop();
     margin-bottom: 220px;
     
     .kasa-apropos_section1{
          position: absolute;
          width: 1240px;
          height: 223px;
          left: 100px;
          top: 152px;
          background-size: cover;
          overflow: hidden;
          background: #1e1c1c3d;
          mix-blend-mode: darken;
          border-radius: 25px;
   
          .sectionimagekalen{
               position: absolute;
               width: 1240px;
               height: 827px;
               //left: 100px;
               //top: -150px;
               width: 100%;
               mix-blend-mode: darken;
               border-radius: 25px;
               transform: translate(1px, -310px);
          }
          .sectionimagegustavo{
               display: none;
          }
     }
     
        
}

     

@media screen and  (min-width: 1600px) and (max-width: 2000px){
     .kasa-apropos{
          
          .kasa-apropos_section1{
              left: 13%;
          }
     }
}
@media screen and  (min-width: 2001px) and (max-width: 2559px){
     .kasa-apropos{
          
          .kasa-apropos_section1{
              left: 17%;
           }
     }

}

@media screen and  (min-width: 2560px) {
     .kasa-apropos{
          
          .kasa-apropos_section1{
              left: 23%;
          }
     }
}
@media screen and (max-width: 375px){
     .kasa-apropos{
          @include pageLengthmobile();
          margin-bottom: 10%;
         
          .kasa-apropos_section1{
               position: absolute;
               width: 336px;
               height: 223px;
               left: 20px;
               top: 84px;

               background-size: cover;
               overflow: hidden;
               background: #1e1c1c3d;
               mix-blend-mode: darken;
               border-radius: 10px;
        
               .sectionimagekalen{
                    display: none;
               }
               .sectionimagegustavo{
                    display: unset;
                    position: absolute;
                    //width: 336px;
                    height: 223px;
                    //left: 20px;
                    //top: 84px;
                    width: 100%;
                    mix-blend-mode: darken;
                    border-radius: 10px;                  
               }
               
          }
          
             
     }     
     
        
}
