.carousel-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  mix-blend-mode: normal;
  border-radius: 25px;

  .carousel-image {
    width: 100%;
    max-width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }

  .arrow-backwards, .arrow-forward {
    position: absolute;
    cursor: pointer;
    height: 79px;
    width: 46px;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;

    &.arrow-backwards {
      left: 0;
      margin-left: 15px;
    }

    &.arrow-forward {
      right: 2%;
    }
  }
  .image-counter{
    position: absolute;
    left: 48.95%;
    right: 49.11%;
    top: -68.81%;
    bottom: 37.01%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
  }
   
}


 
.Carousel-title-location{
  h1{
    position: absolute;
    //position: absolute;
    width: 800px;
    width: 80%;
    height: 77px;
  
    left: -0.06%;
    right: 48.96%;
   
    top: 63.96%;
    bottom: 24.06%;
     
    @include  policeStyle1();
    font-size: 36px;
    
   
    /* or 51px */
        
    display: flex;
    align-items: flex-end;
        
    color: #FF6060;
        
  }
  p{
    position: absolute;
    //left: 6.94%;
    left: -0.06%;
    right: 80.83%;
    
    top: 57.94%;
    bottom: 19.52%;
 
    @include  policeStyle1();
    font-size: 18px;
  
    display: flex;
    align-items: flex-end;
  
    color:  #FF6060;
  }
}
@media screen and  (min-width: 2561px) {
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    mix-blend-mode: normal;
    border-radius: 25px;
    .carousel-image {
      width: 109%;
      max-width: unset;
      height: 415px;
      border-radius: 25px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 79px;
      width: 46px;
      top: 30%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: -8%;
      }
    }
     
  }
  
  
   
  .Carousel-title-location{
    h1{
      position: absolute;
      //position: absolute;
      width: 800px;
      width: 100%;
      height: 77px;
      
      left: -0.06%;
      right: 48.96%;
      
      top: 63.96%;
      bottom: 24.06%;
       
      @include  policeStyle1();
      font-size: 36px;
     
      /* or 51px */
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      position: absolute;
      //left: 6.94%;
      left: -0.06%;
      right: 80.83%;
      
      top: 57.94%;
      bottom: 19.52%;
   
      @include  policeStyle1();
      font-size: 18px;
      
      
      display: flex;
      align-items: flex-end;
    
      color:  #FF6060;
    }
  }
}  
@media screen and  (min-width: 1441px) and (max-width: 2560px) {
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    
    mix-blend-mode: normal;
    border-radius: 25px;
    .carousel-image {
      width: 100%;
      max-width:unset;
      height: 415px;
      border-radius: 25px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 79px;
      width: 46px;
      top: 30%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    } 
     
  }
  
 
   
  .Carousel-title-location{
    h1{
      position: absolute;
      //position: absolute;
      width: 800px;
      width: 100%;
      height: 77px;
      
      left: -0.06%;
      right: 48.96%;
      
      top: 63.96%;
      bottom: 24.06%;
       
      @include  policeStyle1();
      font-size: 36px;
     
      /* or 51px */
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      position: absolute;
      //left: 6.94%;
      left: -0.06%;
      right: 80.83%;
     
      top: 57.94%;
      bottom: 19.52%;
   
      @include  policeStyle1();
      font-size: 18px;
     
      display: flex;
      align-items: flex-end;
    
      color:  #FF6060;
    }
  }
} 
@media screen and (min-width: 1025px) and (max-width:1298px){ 
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2%;
    bottom: 0%;
    
  
    mix-blend-mode: normal;
    border-radius: 25px;
    .carousel-image {
      width: 100%;
      
      height: 415px;
      border-radius: 25px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 73px;
      width: 40px;
      top: 32%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }
     
  }
  
  
  .Carousel-title-location{
    h1{
      position: absolute;
      //position: absolute;
      width: 700px;
      height: 77px;
     
      left: -0.06%;
      right: 48.96%;
      
      top: 63.96%;
      bottom: 24.06%;
       
      @include  policeStyle1();
      font-size: 26px;
     
      /* or 51px */
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      position: absolute;
      //left: 6.94%;
      left: -0.06%;
      right: 80.83%;
     
      top: 57.94%;
      bottom: 19.52%;
      width: 100%;
      @include  policeStyle1();
      font-size: 18px;
      
     
    
      display: flex;
      align-items: flex-end;
    
      color:  #FF6060;
    }
  }
}   
@media screen and (min-width: 901px) and (max-width:1024px){ 
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2%;
    bottom: 0%;
    
  
    mix-blend-mode: normal;
    border-radius: 25px;
    .carousel-image {
      width: 100%;
      
      height: 415px;
      border-radius: 25px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 73px;
      width: 40px;
      top: 32%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }
     
  }
  
  
  .Carousel-title-location{
    h1{
      position: absolute;
      //position: absolute;
      width: 700px;
      height: 77px;
     
      left: -0.06%;
      right: 48.96%;
      
      top: 63.96%;
      bottom: 24.06%;
       
      @include  policeStyle1();
      font-size: 26px;
     
      /* or 51px */
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      position: absolute;
      //left: 6.94%;
      left: -0.06%;
      right: 80.83%;
     
      top: 57.94%;
      bottom: 19.52%;
      width: 100%;
      @include  policeStyle1();
      font-size: 18px;
      
     
    
      display: flex;
      align-items: flex-end;
    
      color:  #FF6060;
    }
  }
}
@media screen and (min-width: 469px) and (max-width:900px){
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    

    mix-blend-mode: normal;
    border-radius: 25px;
    height: 255px;
    //width: 335px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    width: 100%;
   
    .carousel-image {
      width: 100%;
      
      height: 255px;
      border-radius: 10px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 24px;
      width: 22px;
      top: 54%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }
    .image-counter{
      position: absolute;
      left: 48.95%;
      right: 49.11%;
      top: -68.81%;
      bottom: 2.01%;
  
      @include  policeStyle1();
      font-size: 18px;
      line-height: 142.6%;
      /* or 26px */
  
      display: flex;
      align-items: flex-end;
      text-align: center;
  
      color: #FFFFFF;
    }
    
  }

  

  .Carousel-title-location{
   
    
    h1{
      position: absolute;
      //left: 5.33%;
      right: 5.33%;

      bottom: 49.51%;
      width:500px;
      height: 73px;
      
      top:34%;

      
      @include  policeStyle1();
      font-size: 18px;
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      
        position: absolute;
        right: 8.53%;
        top: 47%;
        bottom: 51.18%;

        @include  policeStyle1();
        font-size: 16px;

        display: flex;
        align-items: flex-end;  
        color:  #FF6060;
      }
  }  
}    
@media screen and (min-width: 426px) and (max-width:768px){
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2%;
    bottom: 0%;
    

    mix-blend-mode: normal;
    border-radius: 25px;
    height: 255px;
    //width: 335px;
    width: 100%;
   
    border-radius: 10px;
    width: 100%;

    .carousel-image {
      width: 100%;
      
      height: 255px;
      border-radius: 10px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 22px;
      width: 20px;
      top: 54%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }


    .image-counter{
      position: absolute;
      left: 48.95%;
      right: 49.11%;
      top: -68.81%;
      bottom: 2.01%;
  
      @include  policeStyle1();
      font-size: 18px;
      line-height: 142.6%;
      /* or 26px */
  
      display: flex;
      align-items: flex-end;
      text-align: center;
  
      color: #FFFFFF;
    }
    
    
  }

  .Carousel-title-location{
   
    
    h1{
      position: absolute;
      //left: 5.33%;
      right: 5.33%;

      bottom: 49.51%;
      width:93%;
      height: 73px;
      
      top:34%; 
        
      @include  policeStyle1();
      font-size: 18px;
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      
        position: absolute;
        right: 8.53%;
        top: 47%;
        bottom: 51.18%;

        @include  policeStyle1();
        font-size: 16px;

        display: flex;
        align-items: flex-end;  
        color:  #FF6060;
      }
  }  

}

@media screen and (min-width: 376px) and (max-width:425px){
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2%;
    bottom: 0%;
    

    mix-blend-mode: normal;
    border-radius: 25px;
    height: 255px;
    //width: 335px;
   
    
    border-radius: 10px;
    width: 100%;

    .carousel-image {
      width: 100%;
      
      height: 255px;
      border-radius: 10px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 20.8px;
      width: 12.67px;
      top: 54%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }
    .image-counter{
      position: absolute;
      left: 48.95%;
      right: 49.11%;
      top: -68.81%;
      bottom: 2.01%;
  
      @include  policeStyle1();
      font-size: 18px;
      line-height: 142.6%;
      /* or 26px */
  
      display: flex;
      align-items: flex-end;
      text-align: center;
  
      color: #FFFFFF;
    }
    
    
  }

 

  .Carousel-title-location{
    
    h1{
      position: absolute;
      //left: 5.33%;
      right: 5.33%;

      bottom: 49.51%;
      width:100%;
      height: 73px;
      
      top:42%;

      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
      
        
      @include  policeStyle1();
      font-size: 18px;
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      
        position: absolute;
        right: 8.53%;
        top: 60%;
        bottom: 46.18%;

        @include  policeStyle1();
        font-size: 14px;

        display: flex;
        align-items: flex-end;  
        color:  #FF6060;
      }
  }  

}
@media screen and (max-width: 375px){
  .carousel-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2%;
    bottom: 0%;
  
    mix-blend-mode: normal;
    border-radius: 10px;
    width: 100%;
   
    

    .carousel-image {
      width: 100%;
      max-width: 335px;
      height: 255px;
      border-radius: 10px;
      object-fit: cover;
    }
  
    .arrow-backwards, .arrow-forward {
      position: absolute;
      cursor: pointer;
      height: 19.8px;
      width: 11.67px;
      top: 27%;
      transform: translateY(-50%);
      z-index: 1;
      color: white;
  
      &.arrow-backwards {
        left: 0;
        margin-left: 15px;
      }
  
      &.arrow-forward {
        right: 2%;
      }
    }
    .image-counter{
      position: absolute;
      left: 48.95%;
      right: 49.11%;
     
      bottom: 53%;
  
      @include  policeStyle1();
      font-size: 18px;
      line-height: 142.6%;
      /* or 26px */
  
      display: flex;
      align-items: flex-end;
      text-align: center;
  
      color: #FFFFFF;
    }
   
    
    
  }

 
  .Carousel-title-location{
    
    h1{
      position: absolute;
      //left: 5.33%;
      right: 5.33%;

      bottom: 49.51%;
      width:100%;
      height: 73px;
      
      top:42%;

      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
      
        
      @include  policeStyle1();
      font-size: 18px;
          
      display: flex;
      align-items: flex-end;
          
      color: #FF6060;
          
    }
    p{
      
        position: absolute;
        right: 8.53%;
        top: 60%;
        bottom: 46.18%;

        @include  policeStyle1();
        font-size: 14px;

        display: flex;
        align-items: flex-end;  
        color:  #FF6060;
      }
  }  


}   
   