
/**********Scss page apropos collapse*/
.apropos-collapse {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1023px;
  height: 47px;
  left: 208px;
  top: 406px;


  & .collapse-container {
    margin-bottom: 20px;
   

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  & .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FF6060;
    border-radius: 5px;
    cursor: pointer;
    width: 1023px;
    height: 47px;

    h3 {
      margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 142.6%;
      /* or 34px */
      display: flex;
      align-items: center;
      color: #FFFFFF; 
    }

    & .collapse-icon {
      transition: transform 0.3s ease-in-out;
      color: #FFFFFF;
      display: inline-block;
      position: absolute;         
      left: 93.75%;
      right: 18.63%;
      width: 66px;
      height: 36px;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  & .collapse-content-closed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  & .collapse-content {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    padding: 20px;
    background: #F7F7F7;
    border-radius: 5px;
    width: 1023px;
    //width: 71%;
     & p{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 142.6%;
        /* or 34px */
        //width: 71%;
        color: #FF6060;
      }
    
  }

  & .collapse-0 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:406px;
  }

  & .collapse-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:484px;
    top: 422px;
  }

  & .collapse-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:699px;
    top: 439px;
  }

  & .collapse-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:776px;
    top: 454px;
  }
/*
  @media screen and  (min-width: 1441px) {

    .apropos-collapse{
      margin-left: 10%;
    }
  }
  */
  @media screen and (max-width: 375px){
    @include collapse-aproposM();
    top: 340px;
 
    & .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    & .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      Width:335px;
      Height:30px;
  
      h3 {
        margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 142.6%;
      /* or 34px */
      display: flex;
      align-items: center;
      color: #FFFFFF; 
      }
  
      & .collapse-icon {
        display: inline-block;
        position: absolute;         
        left: 83.75%;
        right: 18.63%;
        width: 66px;
        height: 30px;
        color: #FFFFFF;
        transition: transform 0.3s ease;
        
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    & .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    & .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      Width:335px;
    background: #F7F7F7;
    border-radius: 5px;
    //width: 71%;
      p {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 142.6%;
        /* or 34px */
        //width: 71%;
        color: #FF6060;
      }
      
    }
  
    & .collapse-0 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:330px;
    }
  
    & .collapse-1 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:484px;
    top: 335px;
    }
  
    & .collapse-2 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:699px;
    top: 340px;display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:699px;
    top: 340px;
    }
  
    & .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:776px;
      //top: 348px;
    }
  }
}


/* Scss logement collapse ***********************************************************************/
.logement-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*******/

  .collapse-container {
    width: calc(50% - 38px);
    margin-bottom: 20px;
  }
 
   
  .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
      padding: 16px;
      background: #FF6060;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 58px;
      width: 582px;
      height: 52px;
      position: absolute;
      z-index: 1;

      h3 {
        margin: 0;
        font-size: 18px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        display: flex;
        align-items: center;
   
        color: #FFFFFF;
      }

        .collapse-icon {
          transition: transform 0.3s ease-in-out;
          width: 24px;
          height: 24px;
          color: #FFFFFF;
      
      
        

          &.open {
            transform: rotate(180deg);
          }
        }
  }

      

  & .collapse-content-closed {
        height: 0;
        overflow: hidden;
       // transition: height 0.3s ease-in-out;
        color: #FF6060;
        font-size: 18px;
        
  }

  .collapse-content {
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        
        padding: 16px;
        background: #F7F7F7;
        line-height: 142.6%;
        border-radius: 10px;
        Width:582px;
        Height:249px;
        top: 95px;
        position: absolute;
        
  
        p {
          margin: 0;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 142.6%;
          /* or 26px */
          line-height: 142.6%;
          margin-top: 18px;
          color: #FF6060;
        }
  
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          line-height: 142.6%;
          margin-top: 18px;
          li {
            margin-bottom: 8px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 142.6%;
            /* or 26px */
    
            color: #FF6060;
          }
        }
  }
  @media (max-width: 375px) {
  
    flex-direction: column;
    position: absolute;
    width: 335px; 
    top: -180px;
   
    & .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: -40px;
            }
    }
   
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      background: #FF6060;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 58px;
      width: 335px;
      height: 29.93px;
      border-radius: 5px;
      position: unset;
  
  
      h3 {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 142.6%;
        // identical to box height, or 19px //
  
        display: flex;
        align-items: center;
  
        color: #FFFFFF;
      }
      .collapse-icon {
        transition: transform 0.3s ease-in-out;
        width: 20px;
        height: 20px;
        color: #FFFFFF;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    
  
    & .collapse-content-closed {
      height: 0;
      overflow: hidden;
      //transition: height 0.3s ease-in-out;
      
      color: #FF6060;
      font-size: 12px;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      
      padding: 12px;
      //width: 316.58px;
      height: 143.32px;
      width: 335px;
      background: #F7F7F7;
      border-radius: 5px;
      position: unset;
  
      p {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 142.6%;
        // or 17px //
        
  
  
        color: #FF6060;
      }
  
      ul {
        li {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 142.6%;
          // or 17px //
  
  
          color: #FF6060;
        }
      }
    }
    }
  
  
  
  
}



