.RectangleTitre{
     position: absolute;
     left: 0%;
     right: 0%;
     top: 0%;
     bottom: 74.46%;

     background: #FF6060;
     border-radius: 5px;

     h3 {
     display: inline-block;
     cursor: pointer;
     position: absolute;
     left: 1.77%;
     //right: 88.46%;
     //top: 3.12%;
     bottom: 78.4%;
     right: 88.46%;
     top: 45.12%;

     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 142.6%;
     /* or 34px */

     display: flex;
     align-items: center;

     color: #FFFFFF;

     }
     svg {
          display: inline-block;
          margin-left: 8px;
          transition: transform 0.3s ease;
          position: absolute;
          //left: 8.75%;
          //right: 42.63%;
          //top: 75.67%;
          //bottom: -58.17%;
          //height: 23px;
          //width: 14px;
        
          left: 92.75%;
          right: 18.63%;
          top: -3.33%;
          bottom: -58.17%;
          height: 50px;
          font-size: 50px;
        
          color: #FFFFFF;
        }
        
        div + div {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.3s ease;
        }
}
.RectangleTexte{      
     .bis{
          height: 146px;
          width: 1023px;
          Top: 46px;
          //border-radius: 5px;
          background-color: #f7f7f7;

     position: absolute;
          p{
               position: absolute;
               left: 1.76%;
               right: 2.64%;
               top: 40.22%;
               bottom: 10.33%;
               height: 146px;
               width: 1023px;

               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 400;
               font-size: 24px;
               line-height: 142.6%;
               /* or 34px */
               //background: #f7f7f7;

               color: #FF6060;
          }
     }
     
}


.apropos-collapsable1{
     position: absolute;
     width: 1023px;
     height: 184px;
     left: 208px;
     //top: 484px;
     top: 416px;
    
    
   }
.apropos-collapsable2{
     position: absolute;
     width: 1023px;
     height: 184px;
     left: 208px;
     top: 625px;
    
    
   }   
.apropos-collapsable3{
     position: absolute;
     width: 1023px;
     height: 184px;
     left: 208px;
     top: 842px;
    
    
   }   
.apropos-collapsable4{
     position: absolute;
     width: 1023px;
     height: 184px;
     left: 208px;
     top: 1026px;
    
    

   }   
