
/**********Scss page apropos collapse*/
.kasa-apropos_collapse {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1023px;
  width: 71%;
  height: 47px;
  left: 208px;
  left:15%;
  top: 406px;


 .collapse-container {
    margin-bottom: 20px;
   

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FF6060;
    border-radius: 5px;
    cursor: pointer;
    width: 1023px;
    width: 100%;
    height: 47px;

    h3 {
      margin: 0;
      @include  policeStyle1();
      font-size: 24px;
     
      
      display: flex;
      align-items: center;
      color: #FFFFFF; 
    }

    & img {
      transition: transform 0.3s ease-in-out;
      color: #FFFFFF;
      display: inline-block;
      position: absolute;         
      left: 96%;
      right: 18.63%;
      width: 14.6px;
      height: 23.86px;
      object-fit: cover;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content-closed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .collapse-content {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    padding: 20px;
    background: #F7F7F7;
    border-radius: 5px;
    width: 1023px;
    width: 100%;
     & p{
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 24px;
        color: #FF6060;
      }
    
  }

  .collapse-0 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:406px;
  }

  .collapse-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:484px;
    top: 422px;
  }

  .collapse-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:699px;
    top: 439px;
  }

  .collapse-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    //top:776px;
    top: 454px;
  }
  @media screen and  (min-width: 1500px) and (max-width: 2600px) {

    
      left: 14%;
      
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 1023px;
      width: 71%;
      height: 47px;
      left: 208px;
      left:15%;
      top: 406px;
    
    
     .collapse-container {
        margin-bottom: 20px;
       
    
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    
      .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: #FF6060;
        border-radius: 5px;
        cursor: pointer;
        width: 1023px;
        width: 100%;
        height: 47px;
    
        h3 {
          margin: 0;
          @include  policeStyle1();
          font-size: 30px;
         
          
          display: flex;
          align-items: center;
          color: #FFFFFF; 
        }
    
        & img {
          transition: transform 0.3s ease-in-out;
          color: #FFFFFF;
          display: inline-block;
          position: absolute;         
          left: 98%;
          right: 18.63%;
          width: 14.6px;
          height: 23.86px;
          object-fit: cover;
    
          &.open {
            transform: rotate(180deg);
          }
        }
      }
    
      .collapse-content-closed {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
      }
    
      .collapse-content {
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        padding: 20px;
        background: #F7F7F7;
        border-radius: 5px;
        width: 1023px;
        width: 100%;
         & p{
            margin: 0;
            @include  policeStyle1();
            font-weight: 400;
            font-size: 30px;
            color: #FF6060;
          }
        
      }
    
      .collapse-0 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        top:406px;
      }
    
      .collapse-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        //top:484px;
        top: 422px;
      }
    
      .collapse-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        //top:699px;
        top: 439px;
      }
    
      .collapse-3 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        //top:776px;
        top: 454px;
      }
  }  
  @media screen and (min-width:1025px) and (max-width:1400px){ 
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1023px;
    width: 82%;
    height: 47px;
    left: 208px;
    left: 10%;
    top: 380px;
  
  
   .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      width: 1023px;
      width: 920px;
      width: 100%;
      height: 47px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 22px;
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img {
        transition: transform 0.3s ease-in-out;
        color: #FFFFFF;
        display: inline-block;
        position: absolute;         
        left: 96%;
        right: 18.63%;
        width: 14.6px;
        height: 23.86px;
        object-fit: cover;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      background: #F7F7F7;
      border-radius: 5px;
      width: 1023px;
      width: 920px;
      width: 100%;
      //width: 71%;
       & p{
          margin: 0;
          @include  policeStyle1();
          font-weight: 400;
          font-size: 22px;
          color: #FF6060;
        }
      
    }
  
    .collapse-0 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      top:406px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 422px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 439px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:776px;
      top: 454px;
    }
    
  }  
  @media screen and (min-width: 769px) and (max-width:1024px){ 
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1023px;
    width: 82%;
    height: 47px;
    left: 208px;
    left: 10%;
    top: 380px;
  
  
   .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      width: 1023px;
      width: 920px;
      width: 100%;
      height: 47px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 20px;
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img {
        transition: transform 0.3s ease-in-out;
        color: #FFFFFF;
        display: inline-block;
        position: absolute;         
        left: 96%;
        right: 18.63%;
        width: 14.6px;
        height: 23.86px;
        object-fit: cover;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      background: #F7F7F7;
      border-radius: 5px;
      width: 1023px;
      width: 920px;
      width: 100%;
      //width: 71%;
       & p{
          margin: 0;
          @include  policeStyle1();
          font-weight: 400;
          font-size: 20px;
          color: #FF6060;
        }
      
    }
  
    .collapse-0 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      top:406px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 422px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 439px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:776px;
      top: 454px;
    }
    
  }
 
  @media screen and (min-width: 426px) and (max-width:768px){
    @include collapse-aproposM();
    width: 90%;
    left: 6%;
    top: 362px;
 
    .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      Width:335px;
      width: 100%;
      Height:30px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 15px;
      
    
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img{
        display: inline-block;
        position: absolute;         
        left: 92%;
        right: 18.63%;
        width: 7%;
        height: 30px;
        color: #FFFFFF;
        transition: transform 0.3s ease;
        left: 96%;
        right: 18.63%;
        width: 14.6px;
        height: 23.86px;
        object-fit: cover;
        
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      Width:335px;
      width: 100%;
      background: #F7F7F7;
      border-radius: 5px;
     //width: 71%;
      p {
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 15px;
      
        //width: 71%;
        color: #FF6060;
      }
      
    }
  
    .collapse-0 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:330px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 335px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      
    }
  }  
  @media screen and (min-width: 376px) and (max-width:425px){
    @include collapse-aproposM();
    width: 88%;
    top: 340px;
 
    .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      Width:335px;
      width: 100%;
      Height:30px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 13px;
      
    
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img {
        display: inline-block;
        position: absolute;         
        left: 83.75%;
        right: 18.63%;
        width: 66px;
        height: 30px;
        color: #FFFFFF;
        transition: transform 0.3s ease;
        left: 93%;
        right: 18.63%;
        width: 14.6px;
        height: 23.86px;
        object-fit: cover;
        
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      Width:335px;
      width: 100%;
      background: #F7F7F7;
      border-radius: 5px;
     //width: 71%;
      p {
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 12px;
      
        //width: 71%;
        color: #FF6060;
      }
      
    }
  
    .collapse-0 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:330px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 335px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      
    }
  }  
  @media screen and (min-width: 321px)and (max-width:375px){
    @include collapse-aproposM();
    width: 90%;
    top: 330px;
 
    .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      Width:335px;
      width: 100%;
      Height:30px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 13px;
      
    
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img {
        display: inline-block;
        position: absolute;         
        left: 85%;
        right: 18.63%;
        width: 8.86px;
        height: 15.2px;
        color: #FFFFFF;
        transition: transform 0.3s ease;
        object-fit: cover;
        
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      Width:335px;
      width: 100%;
      background: #F7F7F7;
      border-radius: 5px;
     //width: 71%;
      p {
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 12px;
      
        //width: 71%;
        color: #FF6060;
      }
      
    }
  
    .collapse-0 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:330px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 335px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      
    }
  }
  @media screen and (max-width: 320px){
    @include collapse-aproposM();
    width: 88%;
    left: 5%;
    top: 328px;
 
    .collapse-container {
      margin-bottom: 20px;
     
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #FF6060;
      border-radius: 5px;
      cursor: pointer;
      Width:335px;
      width: 100%;
      Height:30px;
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 13px;
      
    
        display: flex;
        align-items: center;
        color: #FFFFFF; 
      }
  
      & img {
        display: inline-block;
        position: absolute;         
        left: 91%;
        right: 18.63%;
        width: 8.86px;
        height: 15.2px;
        color: #FFFFFF;
        transition: transform 0.3s ease;
        object-fit: cover;
        
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      padding: 20px;
      Width:335px;
      width: 100%;
      background: #F7F7F7;
      border-radius: 5px;
     //width: 71%;
      p {
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 12px;
      
        //width: 71%;
        color: #FF6060;
      }
      
    }
  
    .collapse-0 {
      display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    top:330px;
    }
  
    .collapse-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:484px;
      top: 335px;
    }
  
    .collapse-2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
      //top:699px;
      top: 340px;
    }
  
    .collapse-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;
     
    }
  }  
}




/* Scss logement collapse ***********************************************************************/
.logement-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  /*******/

  .collapse-container {
    width: calc(50% - 3%);
    margin-bottom: 20px;
  }
 
   
  .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
        padding: 16px;
        background: #FF6060;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 58px;
        width: 582px;
        width: 47%;
        height: 52px;
        position: absolute;
        z-index: 1;

      h3 {
        margin: 0;
        font-size: 18px;
        @include  policeStyle1();
        font-size: 18px;
     
        display: flex;
        align-items: center;
   
        color: #FFFFFF;
      }

        img {
          transition: transform 0.3s ease-in-out;
          width: 15.56px;
          height: 15.56px;
          color: #FFFFFF;
          position: absolute;
          display: inline-block;
          left: 95%;
          object-fit: cover;
              
    
          &.open {
            transform: rotate(180deg);
          }
        }
  }

      

  .collapse-content-closed {
        height: 0;
        overflow: hidden;
       // transition: height 0.3s ease-in-out;
        color: #FF6060;
        font-size: 18px;
        
  }

  .collapse-content {
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        
        padding: 16px;
        background: #F7F7F7;
        line-height: 142.6%;
        border-radius: 10px;
        Width:582px;
        width: 47%;
        Height:249px;
        top: 95px;
        position: absolute;
        
  
        p {
          margin: 0;
          @include  policeStyle1();
          font-weight: 400;
          color: #FF6060;
          margin-top: 18px;
          
        }
  
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          line-height: 142.6%;
          margin-top: 18px;
          li {
            margin-bottom: 8px;
            @include  policeStyle1();
            font-weight: 400;
            font-size: 18px;
            color: #FF6060;
          }
        }
  }
  @media (max-width: 375px) {
  
    flex-direction: column;
    position: absolute;
    width: 335px;
    width: 100%; 
    top: -180px;
    
   
    .collapse-container {
      margin-bottom: 20px;
      width: 100%;
     
  
      &:not(:last-child) {
        margin-bottom: -40px;
            }
    }
    .collapse-wrapper{
      width: 100%;
   
    .collapse-header {
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      background: #FF6060;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 58px;
      width: 335px;
      width: 100%;
      //width: 613%;
      height: 29.93px;
      border-radius: 5px;
      position: unset;
  
  
      h3 {
        margin: 0;
        @include  policeStyle1();
        font-size: 13px;
       
        display: flex;
        align-items: center;
  
        color: #FFFFFF;
      }
      img {
        transition: transform 0.3s ease-in-out;
        width:11.96px;
        height: 13.2px;
        color: #FFFFFF;
        position: absolute;
        display:inline-block;
        left: 92%;
        object-fit: cover;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    
  
    .collapse-content-closed {
      height: 0;
      overflow: hidden;
      //transition: height 0.3s ease-in-out;
      
      color: #FF6060;
      font-size: 12px;
    }
  
    .collapse-content {
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      
      padding: 12px;
      //width: 316.58px;
      height: 143.32px;
      width: 335px;
      width: 100%;
     // width: 613%;
      background: #F7F7F7;
      border-radius: 5px;
      position: unset;
  
      p {
        margin: 0;
        @include  policeStyle1();
        font-weight: 400;
        font-size: 12px;
        color: #FF6060;
        margin-top: 6px;

      }
  
      ul {
        margin-top: 6px;
        li {
          @include  policeStyle1();
          font-weight: 400;
          font-size: 12px;
          color: #FF6060;
        }
      }
    }}
  }
  @media screen and (min-width: 376px) and (max-width:425px){
        flex-direction: column;
        position: absolute;
        width: 100%; 
        top: -180px;
       
        .collapse-container {
          margin-bottom: 20px;
          width: 100%;
        
      
          &:not(:last-child) {
            margin-bottom: -40px;
                }
        }
        .collapse-wrapper{
          width: 100%;
        
      .collapse-header {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        background: #FF6060;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 58px;
        width: 376px;
        width: 100%;
        //width: 250%;
      
        height: 29.93px;
        border-radius: 5px;
        position: unset;
    
    
        h3 {
          margin: 0;
          @include  policeStyle1();
          font-size: 13px;
        
          display: flex;
          align-items: center;
    
          color: #FFFFFF;
        }
        img {
          transition: transform 0.3s ease-in-out;
          width:11.96px;
          height: 13.2px;
          color: #FFFFFF;
          position: absolute;
          display:inline-block;
          left: 92%;
          object-fit: cover;
    
          &.open {
            transform: rotate(180deg);
          }
        }
      }
    
      
    
      .collapse-content-closed {
        height: 0;
        overflow: hidden;
        //transition: height 0.3s ease-in-out;
        
        color: #FF6060;
        font-size: 12px;
      }
    
      .collapse-content {
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        
        padding: 12px;
        //width: 316.58px;
        height: 143.32px;
        width:376px;
        width: 100%;
        //width: 250%;
      
        background: #F7F7F7;
        border-radius: 5px;
        position: unset;
    
        p {
          margin: 0;
          @include  policeStyle1();
          font-weight: 400;
          font-size: 12px;
          color: #FF6060;
          margin-top: 6px;

        }
    
        ul {
          margin-top: 6px;
          li {
            @include  policeStyle1();
            font-weight: 400;
            font-size: 12px;
            color: #FF6060;
          }
        }
      }}
  }
  @media screen and (min-width: 426px) and (max-width:768px){
    flex-direction: column;
    position: absolute;
    
    width: 46%;
    width: 100%;
    top: 73px;
    
    .collapse-container {
      margin-bottom: 20px;
      width: 100%;
    
  
      &:not(:last-child) {
        margin-bottom: -35px;
            }
    }
    .collapse-wrapper{
      width: 100%;
    
  .collapse-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: #FF6060;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 58px;
    width: 566px;
    width: 100%;
   // width: 611%;
    height: 29.93px;
    border-radius: 5px;
    position: unset;


    h3 {
      margin: 0;
      @include  policeStyle1();
      font-size: 13px;
    
      display: flex;
      align-items: center;

      color: #FFFFFF;
    }
    img {
      transition: transform 0.3s ease-in-out;
      width:11.96px;
      height: 13.2px;
      color: #FFFFFF;
      position: absolute;
      display:inline-block;
      left: 92%;
      object-fit: cover;
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  

  .collapse-content-closed {
    height: 0;
    overflow: hidden;
    //transition: height 0.3s ease-in-out;
    
    color: #FF6060;
    font-size: 12px;
  }

  .collapse-content {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    
    padding: 12px;
    //width: 316.58px;
    height: 143.32px;
    width:566px;
    width: 100%;
    //width: 611%;
  
    background: #F7F7F7;
    border-radius: 5px;
    position: unset;

    p {
      margin: 0;
      @include  policeStyle1();
      font-weight: 400;
      font-size: 12px;
      color: #FF6060;
      margin-top: 6px;

    }

    ul {
      margin-top: 6px;
      li {
        @include  policeStyle1();
        font-weight: 400;
        font-size: 12px;
        color: #FF6060;
      }
    }
  }}
}
@media screen and (min-width: 469px) and (max-width:900px){
  flex-direction: column;
  position: absolute;
  
  width: 46%;
  width: 100%;
  top: 73px;
  
  .collapse-container {
    margin-bottom: 20px;
    width: 100%;
  

    &:not(:last-child) {
      margin-bottom: -35px;
          }
  }
  .collapse-wrapper{
    width: 100%;
  
.collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #FF6060;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 58px;
  width: 566px;
  width: 100%;
 // width: 611%;
  height: 29.93px;
  border-radius: 5px;
  position: unset;


  h3 {
    margin: 0;
    @include  policeStyle1();
    font-size: 13px;
  
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }
  img {
    transition: transform 0.3s ease-in-out;
    width:13.96px;
    height: 13.2px;
    color: #FFFFFF;
    position: absolute;
    display:inline-block;
    left: 96%;
    object-fit: cover;

    &.open {
      transform: rotate(180deg);
    }
  }
}



.collapse-content-closed {
  height: 0;
  overflow: hidden;
  //transition: height 0.3s ease-in-out;
  
  color: #FF6060;
  font-size: 12px;
}

.collapse-content {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  
  padding: 12px;
  //width: 316.58px;
  height: 143.32px;
  width:566px;
  width: 100%;
  //width: 611%;

  background: #F7F7F7;
  border-radius: 5px;
  position: unset;

  p {
    margin: 0;
    @include  policeStyle1();
    font-weight: 400;
    font-size: 12px;
    color: #FF6060;
    margin-top: 6px;

  }

  ul {
    margin-top: 6px;
    li {
      @include  policeStyle1();
      font-weight: 400;
      font-size: 12px;
      color: #FF6060;
    }
  }
}}
}  
  
}

@media screen and (min-width: 901px) and (max-width:1024px){ 
  .logement-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*******/
  
    .collapse-container {
      width: calc(50% - 3%);
      margin-bottom: 20px;
    }
   
     
    .collapse-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          
          padding: 16px;
          background: #FF6060;
          border-radius: 10px;
          cursor: pointer;
          margin-top: 58px;
          width: 582px;
          width: 420px;
          width: 47%;
          height: 52px;
          position: absolute;
          z-index: 1;
  
        h3 {
          margin: 0;
          font-size: 18px;
          @include  policeStyle1();
          font-size: 18px;
       
          display: flex;
          align-items: center;
     
          color: #FFFFFF;
        }
  
        img {
          transition: transform 0.3s ease-in-out;
          width: 15.56px;
          height: 15.56px;
          color: #FFFFFF;
          position: absolute;
          display: inline-block;
          left: 93%;
          object-fit: cover;
      
            &.open {
              transform: rotate(180deg);
            }
          }
    }
  
        
  
    .collapse-content-closed {
          height: 0;
          overflow: hidden;
         // transition: height 0.3s ease-in-out;
          color: #FF6060;
          font-size: 18px;
          
    }
  
    .collapse-content {
          overflow: hidden;
          transition: height 0.3s ease-in-out;
          
          padding: 16px;
          background: #F7F7F7;
          line-height: 142.6%;
          border-radius: 10px;
          Width:582px;
          width: 420px;
          width: 47%;
          Height:249px;
          top: 95px;
          position: absolute;
          
    
          p {
            margin: 0;
            @include  policeStyle1();
            font-weight: 400;
            color: #FF6060;
            margin-top: 18px;
            
            
          }
    
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 142.6%;
            margin-top: 18px;
            li {
              margin-bottom: 8px;
              @include  policeStyle1();
              font-weight: 400;
              font-size: 18px;
              color: #FF6060;
            }
          }
    }  
  }
}
@media screen and (min-width:2000px) and (max-width:2560px){ 
  .logement-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*******/
  
   
   
     
    .collapse-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          
          padding: 16px;
          background: #FF6060;
          border-radius: 10px;
          cursor: pointer;
          margin-top: 58px;
          width: 582px;
          width: 420px;
          width: 47%;
          height: 52px;
          position: absolute;
          z-index: 1;
  
        h3 {
          margin: 0;
         
          @include  policeStyle1();
          font-size: 24px;
       
          display: flex;
          align-items: center;
     
          color: #FFFFFF;
        }
  
        img {
          transition: transform 0.3s ease-in-out;
          width: 17.56px;
          height: 17.56px;
          color: #FFFFFF;
          position: absolute;
          display: inline-block;
          left: 96%;
          object-fit: cover;
      
            &.open {
              transform: rotate(180deg);
            }
          }
    }
  
        
  
    .collapse-content-closed {
          height: 0;
          overflow: hidden;
         // transition: height 0.3s ease-in-out;
          color: #FF6060;
          font-size: 18px;
          
    }
  
    .collapse-content {
          overflow: hidden;
          transition: height 0.3s ease-in-out;
          
          padding: 16px;
          background: #F7F7F7;
          line-height: 142.6%;
          border-radius: 10px;
          Width:582px;
          width: 420px;
          width: 47%;
          Height:249px;
          top: 95px;
          position: absolute;
          
    
          p {
            margin: 0;
            @include  policeStyle1();
            font-weight: 400;
            color: #FF6060;
            margin-top: 18px;
            font-size: 24px;
          }
    
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 142.6%;
            margin-top: 18px;
            li {
              margin-bottom: 8px;
              @include  policeStyle1();
              font-weight: 400;
              font-size: 18px;
              color: #FF6060;
            }
          }
    }  
  }
}
@media screen and (min-width:2561px){ 
  .logement-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*******/
  
    .collapse-container {
      width: calc(50% - 11%);
      margin-bottom: 20px;
    }
   
     
    .collapse-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          
          padding: 16px;
          background: #FF6060;
          border-radius: 10px;
          cursor: pointer;
          margin-top: 58px;
          width: 582px;
          width: 420px;
          width: 47%;
          height: 52px;
          position: absolute;
          z-index: 1;
  
        h3 {
          margin: 0;
         
          @include  policeStyle1();
          font-size: 24px;
       
          display: flex;
          align-items: center;
     
          color: #FFFFFF;
        }
  
        img {
          transition: transform 0.3s ease-in-out;
          width: 17.56px;
          height: 17.56px;
          color: #FFFFFF;
          position: absolute;
          display: inline-block;
          left: 96%;
          object-fit: cover;
      
            &.open {
              transform: rotate(180deg);
            }
          }
    }
  
        
  
    .collapse-content-closed {
          height: 0;
          overflow: hidden;
         // transition: height 0.3s ease-in-out;
          color: #FF6060;
          font-size: 18px;
          
    }
  
    .collapse-content {
          overflow: hidden;
          transition: height 0.3s ease-in-out;
          
          padding: 16px;
          background: #F7F7F7;
          line-height: 142.6%;
          border-radius: 10px;
          Width:582px;
          width: 420px;
          width: 47%;
          Height:249px;
          top: 95px;
          position: absolute;
          
    
          p {
            margin: 0;
            @include  policeStyle1();
            font-weight: 400;
            color: #FF6060;
            margin-top: 18px;
            font-size: 24px;
          }
    
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 142.6%;
            margin-top: 18px;
            li {
              margin-bottom: 8px;
              @include  policeStyle1();
              font-weight: 400;
              font-size: 18px;
              color: #FF6060;
            }
          }
    }  
  }
}



