.kasa-footer{
    
     position: relative;
     width: 1440px;
     width: 100%;
     height: 209px;
     background: #000000;

     
     .kasa-footer_elements{
          
          img{
               position: absolute;
               left: 45.76%;
               right: 45.76%;
               top: 31.58%;
               bottom: 49.55%;  
               //align-items: center;
          }
          p{
               position: absolute;
               left: 32.15%;
               right: 32.22%;
               top: 64.11%;
               bottom: 13.88%;

               @include  policeStyle1();
               font-size: 24px;
               

               display: flex;
               align-items:center;
               text-align: center;
               padding-left: 7%;
               color: #FFFFFF;
          }
    }
    
}
@media screen and (min-width: 2000px) and (max-width: 2561px) {
     .kasa-footer {
   
          width: 100%;
          .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 45.76%;
                    right: 45.76%;
                    top: 31.58%;
                    bottom: 49.55%;  
                    //align-items: center;
               }
               p{
                    position: absolute;
                    left: 35.15%;
                    right: 32.22%;
                    top: 64.11%;
                    bottom: 13.88%;
     
                    @include  policeStyle1();
                    font-size: 24px;
                    
     
                    display: flex;
                    align-items:center;
                    text-align: center;
                    padding-left: 7%;
                    color: #FFFFFF;
               }
         }
          
           }
}
@media screen and (min-width: 1460px) and (max-width: 1599px) {
     .kasa-footer {
   
          width: 100%;
          
           }
}
@media screen and  (min-width: 1600px) {
     .kasa-footer {
   
    width: 100%;
    
     }
     
}
@media screen and (min-width: 901px) and (max-width:1024px){
     .kasa-footer{
    
          position: relative;
          width: 1440px;
          width: 100%;
          height: 209px;
          background: #000000;
     
          
          .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 45.76%;
                    right: 45.76%;
                    top: 31.58%;
                    bottom: 49.55%;  
                    //align-items: center;
               }
               p{
                    position: absolute;
                    left: 36.15%;
                    right: 28.22%;
                    top: 64.11%;
                    bottom: 13.88%;
     
                    @include  policeStyle1();
                    font-size: 24px;
                   
     
                    display: flex;
                    align-items:center;
                    text-align: center;
                    padding:unset;
                    color: #FFFFFF;
               }
         }
         
     }
}
@media screen and (min-width: 769px) and (max-width:900px){
     .kasa-footer{
    
          position: relative;
          width: 1440px;
          width: 100%;
          height: 209px;
          background: #000000;
     
          
          .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 45.76%;
                    right: 45.76%;
                    top: 31.58%;
                    bottom: 49.55%;  
                    //align-items: center;
               }
               p{
                    position: absolute;
                    left: 34.15%;
                    right: 22.22%;
                    top: 64.11%;
                    bottom: 13.88%;
     
                    @include  policeStyle1();
                    font-size: 24px;
                   
     
                    display: flex;
                    align-items:center;
                    text-align: center;
                    padding:unset;
                    color: #FFFFFF;
               }
         }
         
     }
}
@media screen and (min-width: 427px) and (max-width:768px){
     .kasa-footer{
          position: relative;
          height: 209px;
          width: 100%;
          //top: 2800px;
   
          background: #000000;
         
         .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 42.87%;
                    right: 33.6%;
                    top: 29.67%;
                    bottom: 51.46%;
               }
               p{
                    position: absolute;
                    left:  28%;
                    right: -18.4%;
                    top: 48.33%;
                    bottom: 29.67%;
                    @include  policeStyle1();
                    
                    font-size: 18px;
                   
                    width: fit-content;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;

                    color: #FFFFFF;

               }
         }
         
     }     
} 
    
@media screen and (min-width: 377px) and (max-width:426px){
     .kasa-footer{
          position: relative;
          height: 209px;
          width: 100%;
          //top: 2800px;
   
          background: #000000;
         
         .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 33.87%;
                    right: 33.6%;
                    top: 29.67%;
                    bottom: 51.46%;
               }
               p{
                    position: absolute;
                    left:  22%;
                    right: -18.4%;
                    top: 48.33%;
                    bottom: 29.67%;
                    @include  policeStyle1();
                    
                    font-size: 12px;
                   
                    width: 74%;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;

                    color: #FFFFFF;

               }
         }
         
     }     
}
//styles CSS pour les écrans de 375 pixels ou moins 
@media screen and (max-width: 376px){
     .kasa-footer{
          position: relative;
          height: 209px;
          width: 375px;
          width: 100%;
          //top: 2800px;
   
          background: #000000;
         
         .kasa-footer_elements{
               
               img{
                    position: absolute;
                    left: 33.87%;
                    right: 33.6%;
                    top: 29.67%;
                    bottom: 51.46%;
               }
               p{
                    position: absolute;
                    left:  22%;
                    right: -18.4%;
                    top: 48.33%;
                    bottom: 29.67%;
                    @include  policeStyle1();
                    
                    font-size: 12px;
                   
                    width: 74%;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;

                    color: #FFFFFF;

               }
         }
         
     }     

}