
.kasa-footer{

     position: relative;
     width: 1440px;
     height: 209px;
     background: #000000;
     .span{
          position: absolute;
          left: 0%;
          right: 0%;
          top: 0%;
          bottom: 0%;
          
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 288px;
          line-height: 142.6%;
          /* or 411px */
          
          display: flex;
          align-items: center;
          text-align: center;
          
          color: #FF6060;
          
     }
     p{
          position: absolute;
          left: 32.15%;
          right: 32.22%;
          top: 64.11%;
          bottom: 13.88%;

          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 142.6%;
          /* or 34px */

          display: flex;
          align-items: flex-end;
          text-align: center;

          color: #FFFFFF;
     }
     

}