@import './variables';


.kasa-header {
    
    position: absolute;
    width: 1240px;
    //width: 86%;
    height: 68px;
    left: 100px;
    top: 40px;
    
   .kasa-header-logo{
        position: absolute;
        left: 0%;
        right: 83.04%;
        top: 0%;
        bottom: 0%;
        z-index: 1;
        opacity: 1;
    }
    .kasa-header-logomobile{
        opacity: 0;
    }
     .kasa-header-nav nav{
       
        position: absolute;
        left: 75.08%;
        right: 0%;
        top: 25%;
        bottom: 25%;
        z-index: 1;
       
        .Accueil{
            position: absolute;
           // left: 75.08%;
           // right: 13.95%;
            top: 25%;
            bottom: 25%;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
            /* or 34px */

            display: flex;
            align-items: flex-end;
            text-align: right;
            text-decoration-line: underline;

            color: #FF6060;
        }
        .Apropos{
            position: absolute;
           // left: 90.65%;
            right: 0%;
            top: 25%;
            bottom: 25%;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
            /* or 34px */

            display: flex;
            align-items: flex-end;
            text-align: right;

            color: #FF6060;


        }
    }
}

@media screen and  (min-width: 1600px) and (max-width: 2000px) {
    .kasa-header { 
    margin-left: 10%;
    }
    
}
@media screen and  (min-width: 2001px){
    .kasa-header { 
        margin-left: 15%;
        }
}

//styles CSS pour les écrans de 375 pixels ou moins 
@media screen and (max-width: 375px){
    .kasa-header {
        position: absolute;
        width: 335px;
        height: 47px;
        left: 20px;
        top: 20px;

        .kasa-header-logo{
            opacity: 0;
        }
               
        .kasa-header-logomobile{
            opacity: 1;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 58.21%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            //left: 195px;
            //top: 18px;        
           
            .Accueil{
                position: absolute;
                //left: 58.21%;
                left: 30%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 142.6%;
                //or 17px 

                display: flex;
                align-items: flex-end;
                text-align: right;
                text-decoration-line: underline;

                color: #FF6060;

            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 142.6%;
                // or 17px 
                
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
                
    
    
            }
        }
    }


  }   
  
  
   
        
 
   
    

 
 
