
.kasa-header {
    
    position: absolute;
    width: 1240px;
    width: 86%;

    height: 68px;
    left: 100px;
    left: 7%;
    top: 40px;
    
   .kasa-header-logo{
        position: absolute;
        left: 0%;
        right: 83.04%;
        top: 0%;
        bottom: 0%;
        z-index: 1;
        opacity: 1;
    }
    .kasa-header-logomobile{
        opacity: 0;
    }
     .kasa-header-nav nav{
       
        position: absolute;
        left:66%;
        right: 0%;
        top: 84%;
        bottom: 25%;
        z-index: 1;
        display: flex;
        justify-content: center;
        
       a {
            text-decoration: none;
            margin: 0 1px;
            position: relative;

           // &:hover {
           // text-decoration: underline;
           // }

            &.active{           
            text-decoration: underline;
            }
        }
       
        .Accueil{
            position: absolute;
            top: 25%;
            bottom: 25%;

            @include  policeStyle1();
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            color: #FF6060;
        }
        .Apropos{
            position: absolute;
           // left: 90.65%;
            right: 0%;
            top: 25%;
            bottom: 25%;

            @include  policeStyle1();
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            text-align: right;

            color: #FF6060;


        }
    }
}
@media screen and  (min-width: 2561px)  {
    .kasa-header { 
        left: 9%;
        width: 85%;
        .kasa-header-nav nav{
            .Accueil{
                position: absolute;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 43px;
                display: flex;
                align-items: flex-end;
                text-align: right;
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 43px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
        
        }
       
}
@media screen and  (min-width: 2001px) and (max-width: 2560px) {
    .kasa-header { 
        left: 9%;
        width: 84%;
        .kasa-header-nav nav{
            .Accueil{
                position: absolute;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 43px;
                display: flex;
                align-items: flex-end;
                text-align: right;
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 43px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
        
        }
       
}
@media screen and  (min-width: 1500px) and (max-width: 2000px) {
    .kasa-header { 
        left: 7%;
        width: 88%;
        .kasa-header-nav nav{
            .Accueil{
                position: absolute;
                top: 25%;
                bottom: 25%;
                left: 15%;
    
                @include  policeStyle1();
                font-size: 38px;
                display: flex;
                align-items: flex-end;
                text-align: right;
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 38px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
        
        }
       
}

//styles CSS pour les écrans de 375 pixels ou moins 
@media screen and (min-width: 321px)and (max-width:375px){
    .kasa-header {
        position: absolute;
        //Mwidth: 335px;
        width: 86%;
        height: 47px;
        left: 6%;
        top: 20px;

        .kasa-header-logo{
            opacity: 0;
        }
               
        .kasa-header-logomobile{
            opacity: 1;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 63%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 46%;
                   
            a {
          
                text-decoration: none;
                margin: 0 1rem;
                position: relative;
            
                &:hover {
                  text-decoration: underline;
                }
            
                &.active {
                  text-decoration: underline;
                }
              }
            .Accueil{
                position: absolute;
                left: 7%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;

                @include  policeStyle1();
                font-size: 12px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;

            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                @include  policeStyle1();
                font-size: 12px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
 
            }
        }
    }
}
    
@media screen and (max-width: 320px){
    .kasa-header {
        position: absolute;
        //Mwidth: 335px;
        width: 84%;
        height: 47px;
        left: 20px;
        left: 5%;
        top: 20px;

        .kasa-header-logo{
            opacity: 0;
        }
               
        .kasa-header-logomobile{
            opacity: 1;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 60%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 46%;
                 
           
            .Accueil{
                position: absolute;
                left: 5%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;

                @include  policeStyle1();
                font-size: 12px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;

                color: #FF6060;

            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
        
                @include  policeStyle1();
                font-size: 12px;    
                display: flex;
                align-items: flex-end;
                text-align: right;
        
                color: #FF6060;
            }
        }
    }


  }
  @media screen and (min-width:1025px) and (max-width:1400px){
    .kasa-header {
    
        position: absolute;
        width: 90%;
        height: 68px;
        left: 6%;
        top: 40px;
        
       .kasa-header-logo{
            position: absolute;
            left: 0%;
            right: 83.04%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
            opacity: 1;
        }
        .kasa-header-logomobile{
            opacity: 0;
        }
         .kasa-header-nav nav{
           
            position: absolute;
            left: 64%;
            right: 0%;
            top: 29%;
            bottom: 6%;
            z-index: 1;
           
            .Accueil{
                position: absolute;
                top: 25%;
                bottom: 25%;
                left: 30%;
                @include  policeStyle1();
                font-size: 24px;
        
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 24px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
    }
  } 
  @media screen and (min-width: 769px) and (max-width:1024px){
    .kasa-header {
    
        position: absolute;
        width: 90%;
        height: 68px;
        left: 6%;
        top: 40px;
        
       .kasa-header-logo{
            position: absolute;
            left: 0%;
            right: 83.04%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
            opacity: 1;
        }
        .kasa-header-logomobile{
            opacity: 0;
        }
         .kasa-header-nav nav{
           
            position: absolute;
            left: 48%;
            right: 1%;
            top: 24%;
            bottom: 10%;
            z-index: 1;
           
            .Accueil{
                position: absolute;
                top: 25%;
                bottom: 25%;
                left: 45%;
                @include  policeStyle1();
                font-size: 24px;
             
    
                display: flex;
                align-items: flex-end;
                text-align: right;
               
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 24px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
    }
  } 
  @media screen and (min-width: 716px) and (max-width:768px){
    .kasa-header {
        position: absolute;
        width:90%;
        height: 47px;
        left: 6%;
        top: 20px;
 
        .kasa-header-logo{
            opacity: 1;
        }
               
        .kasa-header-logomobile{
            opacity: 0;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 55%;
            right: 0%;
            top: 85%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 44%;
               
            .Accueil{
                position: absolute;
                left: 37%;
                top: 38.3%;
                bottom: 25.53%;
 
                @include  policeStyle1();
                font-size: 18px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
               
                color: #FF6060;
 
            }
            .Apropos{
                position: absolute;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                @include  policeStyle1();
                font-size: 18px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
                
    
    
            }
        }
    }
  }
  @media screen and (min-width: 426px) and (max-width:715px){
    .kasa-header {
        position: absolute;
        width:96%;
        height: 47px;
        left: 6%;
        top: 20px;
        width: 88%;
        height: 47px;
        left: 6%;
 
        .kasa-header-logo{
            opacity: 0;
        }
               
        .kasa-header-logomobile{
            opacity: 1;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 56.21%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 44%;
                   
           
            .Accueil{
                position: absolute;
                //left: 58.21%;
                left: 16%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;
 
                @include  policeStyle1();
                font-size: 12px;
                
 
                display: flex;
                align-items: flex-end;
                text-align: right;
               
                color: #FF6060;
 
            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                @include  policeStyle1();
                font-size: 12px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
                
    
    
            }
        }
    }
  }   
 
     
  @media screen and (min-width: 376px) and (max-width:425px){
    .kasa-header {
       position: absolute;
       width:96%;
       height: 47px;
       left: 6%;
       top: 20px;
       width: 88%;
       height: 47px;
       left: 6%;

       .kasa-header-logo{
           opacity: 0;
       }
              
       .kasa-header-logomobile{
           opacity: 1;
           height: 47px;
           width: 145px;
       
           position: absolute;
           left: 0%;
           right: 56.72%;
           top: 0%;
           bottom: 0%;
           z-index: 1;
       }
       
       .kasa-header-nav nav{          
           position: absolute;
           left: 62%;
           //left: 137.21%;
           right: 0%;
           //top: 38.3%;
           top: 52%;
           bottom: 25.53%;
           height: 17px;
           width: 140px;
           width: 40%;
                
          
           .Accueil{
               position: absolute;
               //left: 58.21%;
               left:14%;
               //right: 24.18%;
               top: 38.3%;
               bottom: 25.53%;

               @include  policeStyle1();
               font-size: 12px;
               

               display: flex;
               align-items: flex-end;
               text-align: right;
              
               color: #FF6060;

           }
           .Apropos{
               position: absolute;
               //left: 78.81%;
               right: 0%;
               top: 38.3%;
               bottom: 25.53%;
               
               @include  policeStyle1();
               font-size: 12px;
           
               display: flex;
               align-items: flex-end;
               text-align: right;
               
               color: #FF6060;
               
   
   
           }
       }
   }
}   
  
  
   
        
 
   
    

 
 
