@import './variables';


.kasa-header {
    
    position: absolute;
    width: 1240px;
    //width: 86%;
    height: 68px;
    left: 100px;
    top: 40px;
    
   .kasa-header-logo{
        position: absolute;
        left: 0%;
        right: 83.04%;
        top: 0%;
        bottom: 0%;
        z-index: 1;
        opacity: 1;
    }
    .kasa-header-logomobile{
        opacity: 0;
    }
     .kasa-header-nav nav{
       
        position: absolute;
        left: 75.08%;
        right: 0%;
        top: 25%;
        bottom: 25%;
        z-index: 1;
       
        .Accueil{
            position: absolute;
           // left: 75.08%;
           // right: 13.95%;
            top: 25%;
            bottom: 25%;

            @include  policeStyle1();
            font-size: 24px;
            @include  policeStyle1();

            display: flex;
            align-items: flex-end;
            text-align: right;
            text-decoration-line: underline;

            color: #FF6060;
        }
        .Apropos{
            position: absolute;
           // left: 90.65%;
            right: 0%;
            top: 25%;
            bottom: 25%;

            @include  policeStyle1();
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            text-align: right;

            color: #FF6060;


        }
    }
}

@media screen and  (min-width: 1600px) and (max-width: 2000px) {
    .kasa-header { 
    left: 13%;
    }
    
}
@media screen and  (min-width: 2001px){
    .kasa-header { 
        left: 17%;
        }
}
@media screen and  (min-width: 2560px){
    .kasa-header { 
        left: 23%;
        }
}

//styles CSS pour les écrans de 375 pixels ou moins 
@media screen and (max-width: 375px){
    .kasa-header {
        position: absolute;
        //Mwidth: 335px;
        width: 86%;
        height: 47px;
        left: 20px;
        top: 20px;

        .kasa-header-logo{
            opacity: 0;
        }
               
        .kasa-header-logomobile{
            opacity: 1;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 58.21%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 46%;
            //left: 195px;
            //top: 18px;        
           
            .Accueil{
                position: absolute;
                //left: 58.21%;
                left: 30%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;

                @include  policeStyle1();
                font-size: 12px;
                

                display: flex;
                align-items: flex-end;
                text-align: right;
                text-decoration-line: underline;

                color: #FF6060;

            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                @include  policeStyle1();
                font-size: 12px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
                
    
    
            }
        }
    }


  }
  @media screen and (min-width: 769px) and (max-width:1024px){
    .kasa-header {
    
        position: absolute;
        width: 1240px;
        width: 90%;
        //width: 86%;
        height: 68px;
        left: 100px;
        top: 40px;
        
       .kasa-header-logo{
            position: absolute;
            left: 0%;
            right: 83.04%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
            opacity: 1;
        }
        .kasa-header-logomobile{
            opacity: 0;
        }
         .kasa-header-nav nav{
           
            position: absolute;
            left: 75.08%;
            right: 0%;
            top: 25%;
            bottom: 25%;
            z-index: 1;
           
            .Accueil{
                position: absolute;
               // left: 75.08%;
               // right: 13.95%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 24px;
                @include  policeStyle1();
    
                display: flex;
                align-items: flex-end;
                text-align: right;
                text-decoration-line: underline;
    
                color: #FF6060;
            }
            .Apropos{
                position: absolute;
               // left: 90.65%;
                right: 0%;
                top: 25%;
                bottom: 25%;
    
                @include  policeStyle1();
                font-size: 24px;
                display: flex;
                align-items: flex-end;
                text-align: right;
    
                color: #FF6060;
    
    
            }
        }
    }
  }  
  @media screen and (min-width: 426px) and (max-width:768px){
    .kasa-header {
        position: absolute;
        width:73%;
        height: 47px;
        left: 20px;
        left: 11%;
        top: 20px;
 
        .kasa-header-logo{
            opacity: 1;
        }
               
        .kasa-header-logomobile{
            opacity: 0;
            height: 47px;
            width: 145px;
        
            position: absolute;
            left: 0%;
            right: 56.72%;
            top: 0%;
            bottom: 0%;
            z-index: 1;
        }
        
        .kasa-header-nav nav{          
            position: absolute;
            left: 67%;
            left: 55%;
            //left: 137.21%;
            right: 0%;
            //top: 38.3%;
            top: 52%;
            bottom: 25.53%;
            height: 17px;
            width: 140px;
            width: 46%;
            //width: 25%;
            //left: 195px;
            //top: 18px;        
           
            .Accueil{
                position: absolute;
                //left: 58.21%;
                left: 30%;
                //right: 24.18%;
                top: 38.3%;
                bottom: 25.53%;
 
                @include  policeStyle1();
                font-size: 12px;
                
 
                display: flex;
                align-items: flex-end;
                text-align: right;
                text-decoration-line: underline;
 
                color: #FF6060;
 
            }
            .Apropos{
                position: absolute;
                //left: 78.81%;
                right: 0%;
                top: 38.3%;
                bottom: 25.53%;
                
                @include  policeStyle1();
                font-size: 12px;
            
                display: flex;
                align-items: flex-end;
                text-align: right;
                
                color: #FF6060;
                
    
    
            }
        }
    }
  }
     
  @media screen and (min-width: 376px) and (max-width:425px){
    .kasa-header {
       position: absolute;
       width:96%;
       height: 47px;
       left: 20px;
       top: 20px;
       width: 88%;
    height: 47px;
    left: 6%;

       .kasa-header-logo{
           opacity: 0;
       }
              
       .kasa-header-logomobile{
           opacity: 1;
           height: 47px;
           width: 145px;
       
           position: absolute;
           left: 0%;
           right: 56.72%;
           top: 0%;
           bottom: 0%;
           z-index: 1;
       }
       
       .kasa-header-nav nav{          
           position: absolute;
           left: 58.21%;
           //left: 137.21%;
           right: 0%;
           //top: 38.3%;
           top: 52%;
           bottom: 25.53%;
           height: 17px;
           width: 140px;
           width: 40%;
           //left: 195px;
           //top: 18px;        
          
           .Accueil{
               position: absolute;
               //left: 58.21%;
               left: 30%;
               //right: 24.18%;
               top: 38.3%;
               bottom: 25.53%;

               @include  policeStyle1();
               font-size: 12px;
               

               display: flex;
               align-items: flex-end;
               text-align: right;
               text-decoration-line: underline;

               color: #FF6060;

           }
           .Apropos{
               position: absolute;
               //left: 78.81%;
               right: 0%;
               top: 38.3%;
               bottom: 25.53%;
               
               @include  policeStyle1();
               font-size: 12px;
           
               display: flex;
               align-items: flex-end;
               text-align: right;
               
               color: #FF6060;
               
   
   
           }
       }
   }
}   
  
  
   
        
 
   
    

 
 
