@import "../styles/mixins.scss";

.kasa-home {
     @include pageLengthdesktop();
     width: 100%;
     margin-bottom: 2250px;
     &_body {
  
          position: absolute;
          width: 1240px;
          width: 86%;
          height: 1095px;
          left: 7%;
          top: 171px;
     

          .kasa-home-body_section1{
               position: absolute;
               //width: 1240px;
               width: 100%;
               height: 223px;
             
               background: #1e1c1c3d;
               background-size: cover;
               overflow: hidden;
               mix-blend-mode: darken;
          
               border-radius: 25px;
               
               .kasa-home-body-section1_desk{
                    opacity: 1;
                    img{
               
                         width: 100%;
                         mix-blend-mode: darken;
                         border-radius: 25px;
                         transform: translate(1px, -310px);
                         
                    }
                    h1{
                         
                         position: absolute;
                         left: 22.9%;
                         right: 25.14%;
                         top: 30.32%;
                         bottom: 69.04%;
                         height: 68px;
                         width: 705px;
                    
                         @include  policeStyle1();
                         font-size: 48px;
                         letter-spacing: 3px;
                         color: #FFFFFF;
                                        
                         z-index: 1;
                    }
              
               }
               .kasa-home-body-section1_mobile{
                    opacity: 0;
                    display: none;
               }
          }

          .kasa-home-body_gallery{
               position: absolute;
               width: 1240px;
               width: 100%;
            
               left: -3px;
               top: 278px;
               height: 2817px;
               background: #F7F7F7;
               border-radius: 25px; 
          }
     }    
}


@media screen and  (min-width: 2001px) and (max-width: 2560px) {
     .kasa-home{
      width: 95%;
           &_body {
               left: 9%;
      }
      }
 }
@media screen and  (min-width: 1500px) and (max-width: 2000px) {
    .kasa-home{
     width: 100%;
          &_body {
               left: 9%;         
     
               }     }
}

@media screen and (min-width:1025px) and (max-width:1400px){
     .kasa-home {
          @include pageLengthdesktop();
          margin-bottom: 1550px;
          &_body {
       
               position: absolute;
               width: 90%;
               height: 1095px;
               left: 6%;
               top: 111px;
     
               .kasa-home-body_section1{
                    position: absolute;
            
                    width: 100%;
                    height: 190px;
                   
               
                    background: #1e1c1c3d;
                    background-size: cover;
                    overflow: hidden;
                    mix-blend-mode: darken;
               
                    border-radius: 25px;
                    
                    .kasa-home-body-section1_desk{
                         opacity: 1;
                         img{
                    
                              width: 100%;
                              mix-blend-mode: darken;
                              border-radius: 25px;
                              transform: translate(1px, -29%);
                              
                         }
                         h1{
                              
                              position: absolute;
                              left: 17.9%;
                              right: 25.14%;
                              top: 33.32%;
                              bottom: 69.04%;
                              height: 68px;
                              width: 705px;
                              width: 78%;
                         
                              @include  policeStyle1();
                              font-size: 38px;
                              letter-spacing: 3px;
                              color: #FFFFFF;
                                             
                              z-index: 1;
                         }
                   
                    }
                    .kasa-home-body-section1_mobile{
                         opacity: 0;
                         display: none;
                    }
               }
     
               .kasa-home-body_gallery{
                    position: absolute;
                    width: 1240px;
                    width: 100%;
                    
                    left: -3px;
                    top: 220px;
                    height: 2211px;
                    background: #F7F7F7;
                    border-radius: 25px; 
               }
          }    
     }
}     
@media screen and (min-width: 993px) and (max-width:1024px){
     .kasa-home {
          @include pageLengthdesktop();
          margin-bottom: 1500px;
          &_body {
       
               position: absolute;
               width: 90%;
               height: 1095px;
               left: 6%;
               top: 130px;
     
               .kasa-home-body_section1{
                    position: absolute;
            
                    width: 100%;
                    height: 190px;
                   
               
                    background: #1e1c1c3d;
                    background-size: cover;
                    overflow: hidden;
                    mix-blend-mode: darken;
               
                    border-radius: 25px;
                    
                    .kasa-home-body-section1_desk{
                         opacity: 1;
                         img{
                    
                              width: 100%;
                              mix-blend-mode: darken;
                              border-radius: 25px;
                              transform: translate(1px, -29%);
                              
                         }
                         h1{
                              
                              position: absolute;
                              left: 17.9%;
                              right: 25.14%;
                              top: 33.32%;
                              bottom: 69.04%;
                              height: 68px;
                              width: 705px;
                              width: 78%;
                         
                              @include  policeStyle1();
                              font-size: 38px;
                              letter-spacing: 3px;
                              color: #FFFFFF;
                                             
                              z-index: 1;
                         }
                   
                    }
                    .kasa-home-body-section1_mobile{
                         opacity: 0;
                         display: none;
                    }
               }
     
               .kasa-home-body_gallery{
                    position: absolute;
                    width: 1240px;
                    width: 100%;
                    
                    left: -3px;
                    top: 220px;
                    height: 1500px;
                    background: #F7F7F7;
                    border-radius: 25px; 
               }
          }    
     }
}     
@media screen and (min-width: 768px) and (max-width:992px){
     .kasa-home {
          @include pageLengthdesktop();
          margin-bottom: 2700px;
          &_body {
       
               position: absolute;
               width: 90%;
               height: 1095px;
               left: 6%;
               top: 111px;
     
               .kasa-home-body_section1{
                    position: absolute;
            
                    width: 100%;
                    height: 190px;
                   
               
                    background: #1e1c1c3d;
                    background-size: cover;
                    overflow: hidden;
                    mix-blend-mode: darken;
               
                    border-radius: 25px;
                    
                    .kasa-home-body-section1_desk{
                         opacity: 1;
                         img{
                    
                              width: 100%;
                              mix-blend-mode: darken;
                              border-radius: 25px;
                              transform: translate(1px, -29%);
                              
                         }
                         h1{
                              
                              position: absolute;
                              left: 17.9%;
                              right: 25.14%;
                              top: 33.32%;
                              bottom: 69.04%;
                              height: 68px;
                              width: 705px;
                              width: 78%;
                         
                              @include  policeStyle1();
                              font-size: 38px;
                              letter-spacing: 3px;
                              color: #FFFFFF;
                                             
                              z-index: 1;
                         }
                   
                    }
                    .kasa-home-body-section1_mobile{
                         opacity: 0;
                         display: none;
                    }
               }
     
               .kasa-home-body_gallery{
                    position: absolute;
                    width: 1240px;
                    width: 100%;
                    
                    left: -3px;
                    top: 220px;
                    height: 2817px;
                    background: #F7F7F7;
                    border-radius: 25px; 
               }
          }    
     }
}
@media screen and (min-width: 426px) and (max-width:767px){
     .kasa-home {
          @include pageLengthdesktop();
          margin-bottom: 6876px;
          &_body {
       
               position: absolute;
               width: 1240px;
               width: 90%;
               height: 1095px;
               left: 6%;
               top: 99px;
     
               .kasa-home-body_section1{
                    position: absolute;
                    
                    width: 100%;
                    height: 130px;
                    background: #1e1c1c3d;
                    background-size: cover;
                    overflow: hidden;
                    mix-blend-mode: darken;
               
                    border-radius: 25px;
                   
                      
                    
                    .kasa-home-body-section1_desk{
                         opacity: 1;
                         object-fit: cover;
                         img{
                    
                              width: 100%;
                              mix-blend-mode: darken;
                              border-radius: 25px;
                              transform: translate(1px, -36%);
                              object-fit: cover;
                         }
                         h1{
                              
                              position: absolute;
                              left: 17.9%;
                              right: 25.14%;
                              top: 32%;
                              bottom: 69.04%;
                              height: 68px;
                              width: 705px;
                              width: 82%;
                         
                              @include  policeStyle1();
                              font-size: 30px;
                              letter-spacing: 3px;
                              color: #FFFFFF;
                                             
                              z-index: 1;
                         }
                   
                    }
                    .kasa-home-body-section1_mobile{
                        
                         opacity: 0;
                        
                    }
               }
     
               .kasa-home-body_gallery{
                    position: absolute;
                    width: 1240px;
                    width: 100%;
                    left: -3px;
                    top: 156px;
                    height: 7560px;
                    background: #F7F7F7;
                    border-radius: 25px; 
               }
          }    
     }
}

@media screen and (min-width: 376px) and (max-width:425px){
     .kasa-home {
          @include pageLengthmobile();
          width: 100%;
          margin-bottom: 4800px;
   
          &_body {
     
               position: absolute;
               width: 336px;
               width: 88%;
               //height: 938px;
               height:805px;
               left: 20px;
               left: 6%;
               top: 83px;
               
               .kasa-home-body_section1 { 
                    position: absolute;
                    width: 335px;
                    width: 100%;
                    height: 111px;
                    //left: 20px;
                    //top: 83px;
                    border-radius: 10px;
                                            
                    .kasa-home-body-section1_desk{
                         opacity: 0;
          
                    }
                    .kasa-home-body-section1_mobile{
                         display: unset;
                         opacity: 1;
                         object-fit: cover;
                         h1{
                              position: absolute;
                              left: 5.6%;
                              right: 32.53%;
                              top: 14.04%;
                              bottom: 26.05%;

                              @include  policeStyle1();
                              font-size: 24px;
                              line-height: 100%;
                             
                    
                              display: flex;
                              align-items: flex-end;
               
                              color: #FFFFFF;
                              z-index: 1;
                         }
                         .sectionimage{
                              margin-top: 84px;
                              border-radius:10px;
                              object-fit: cover;
                              }
                              img{
               
                                   width: 100%;
                                   mix-blend-mode: darken;
                                   border-radius: 25px;
                                   transform: translate(1px, -351px);
                                 
                              }
                    }          
                    
                    
               
               }    
          
               .kasa-home-body_gallery{
               //section 2 = gallery
                    position: absolute;
                    width: 335px;
                    width: 100%;
                    height: 805px;
               
                    //left: 21px;
                    top: 133px;
                    left: 1px;
                    left: 0;
                    background-color: #FFFFFF;
                    
               }
          }
     }       
}
@media screen and (min-width: 321px)and (max-width:375px){
     .kasa-home {
          @include pageLengthmobile();
          width: 100%;
          margin-bottom: 4800px;
   
          &_body {
     
               position: absolute;
               width: 336px;
               width: 90%;
               //height: 938px;
               height:805px;
               left: 20px;
               left: 6%;
               top: 83px;
               
               .kasa-home-body_section1 { 
                    position: absolute;
                    width: 335px;
                   width: 100%;
                    height: 111px;
                    //left: 20px;
                    //top: 83px;
                    border-radius: 10px;
                                            
                    .kasa-home-body-section1_desk{
                        opacity: 0;

                         
                    }
                    .kasa-home-body-section1_mobile{
                         display: unset;
                         opacity: 1;
                         object-fit: cover;
                         
                         h1{
                              position: absolute;
                              left: 5.6%;
                              right: 32.53%;
                              top: 14.04%;
                              bottom: 26.05%;

                              @include  policeStyle1();
                              font-size: 24px;
                              line-height: 100%;
                              //or 24px 
                              //height: 48px;
                              //width: 217px;
                    
                              display: flex;
                              align-items: flex-end;
               
                              color: #FFFFFF;
                              z-index: 1;
                         }
                         .sectionimage{
                              margin-top: 82px;
                              // mix-blend-mode: darken;
                                   //transform: translate(1px, -310px);
                                   border-radius:10px;
                                   object-fit: cover;
                              
                              }
                              img{
                                   opacity: 1;
                                   width: 100%;
                                   mix-blend-mode: darken;
                                   border-radius: 25px;
                                   transform: translate(1px, -310px);
                                   object-fit: cover;
                                   
                              }
                    }          
                    
                    
               
               }    
          
               .kasa-home-body_gallery{
               //section 2 = gallery
                    position: absolute;
                   // width: 335px;
                   // width: 100%;
                    height: 805px;
               
                    //left: 21px;
                    top: 133px;
                    left: 1px;
                    background-color: #FFFFFF;
                    
               }
          }
     }  
}
@media screen and (max-width: 320px){
     .kasa-home {
          @include pageLengthmobile();
          width: 100%;
          margin-bottom: 4767px;
   
          &_body {
     
               position: absolute;
               width: 336px;
               width: 90%;
               //height: 938px;
               height:805px;
               left: 20px;
               left: 5%;
               top: 83px;
               
               .kasa-home-body_section1 { 
                    position: absolute;
                    width: 281px;
                    width: 100%;
                    height: 111px;
                    height: 95px;
                  
                    border-radius: 5px;
                                            
                    .kasa-home-body-section1_desk{
                        opacity: 0;

                         
                    }
                    .kasa-home-body-section1_mobile{
                         display: unset;
                         opacity: 1;
                         object-fit: cover;
                         
                         h1{
                              position: absolute;
                              left: 5.6%;
                              right: 32.53%;
                              top: 14.04%;
                              bottom: 26.05%;

                              @include  policeStyle1();
                              width: 100%;
                              font-size: 20px;
                              line-height: 100%;
                             
                              display: flex;
                              align-items: flex-end;
               
                              color: #FFFFFF;
                              z-index: 1;
                         }
                         .sectionimage{
                      
                              margin-top: 84px;
                              border-radius:5px;
                              object-fit: cover;
                              
                              }
                              img{
                                  display: block;
                                   opacity: 1;
                                   width: 100%;
                                   mix-blend-mode: darken;
                                   border-radius: 25px;
                                   transform: translate(1px, -295%);
                                   
                              }
                    }          
                    
                    
               
               }    
          
               .kasa-home-body_gallery{
               //section 2 = gallery
                    position: absolute;
                    max-width: 320px;
                    width: 100%;
                    height: 805px;
               
                    //left: 21px;
                    top: 120px;
                    left: 1px;
                    background-color: #FFFFFF;
                    
               }
          }
     }  
}
