.kasa-home {
          position: relative;
          width: 1440px;
          height: 1024px;

          background: #FFFFFF;
     h1{
     color:rgb(182, 92, 185);
     }
     p{
          color: rgb(145, 131, 134);
     }
     .body{
          position: absolute;
          width: 1240px;
          height: 1095px;
          left: 100px;
          top: 171px; 
     }
     
}

