
.HostRate-rate{
     position: absolute;
     width: 196px;
     height: 36px;
     //left: 1144px;
     left: 1053px;
     //top: 652px;
     top: 518px;
     z-index: auto;

}
.HostRate-rate-etoile img{
          width: 36px;
          height: 36px;
          left: 1144px;
          top: 652px;
}
.HostRate-host{
     
     .HostRate-host-name {
          position: absolute;
          width: 93px;
          height: 52px;
          //left: 1170px;
          left: 1066px;
          //top: 573px;
          top: 442px;
     
          @include  policeStyle1();
          font-size: 18px;
      
          display: flex;
          align-items: flex-end;
          text-align: right;
     
          color: #FF6060;
     
     }
     .HostRate-host-picture{
          position: absolute;
          width: 64px;
          height: 64px;
          //left: 1273px;
          left: 1166px;
          //top: 567px;
          top: 440px;
         
          //background: #C4C4C4;
          img {
               width: 100%;
               object-fit: cover;
               border-radius: 50%;
          }
          
     }
}

@media screen and (max-width: 375px){
     .HostRate-rate{
          position: absolute;
          width: 180px;
          height: 18px;
          left: 0%;
          top: 352px;
          //z-index: auto;
     
     }
     .HostRate-rate-etoile img{
               width: 15px;
               height: 15px;
               left: 1144px;
               top: 652px;
     }
     .HostRate-host{
          
          .HostRate-host-name {
               position: absolute;
             
               width: 62px;
               height: 33px;
               left: 230px;
               top: 348px;
          
               @include  policeStyle1();
               font-size: 12px;
             
               display: flex;
               align-items: flex-end;
               text-align: right;
          
               color: #FF6060;
          
          }
          .HostRate-host-picture{
               position: absolute;
               width: 32px;
               height: 32px;
               //left: 1273px;
               left: 300px;
               //top: 567px;
               top: 349px;
              
               //background: #C4C4C4;
               img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
               }
               
          }
     }
     

}
