
.HostRate-rate{
     position: absolute;
     width: 196px;
     height: 36px;
     //left: 1144px;
     left: 1053px;
     top: 652px;
     z-index: auto;
   
    
  
     

}
.HostRate-rate-etoile img{
     
           //position: absolute;
          width: 36px;
          height: 36px;
          left: 1144px;
          top: 652px;
          
     margin-right: 10px;
  
         



}

