.kasa-logo{
    
     position: absolute;
     left: 45.76%;
     right: 45.76%;
     top: 31.58%;
     bottom: 49.55%;

     h1{
          position: absolute;
          left: 0%;
          right: 74.17%;
          top: 0%;
          bottom: 8.45%;

          background: #FFFFFF;
     }
     p{
          position: absolute;
          left: 28.63%;
          right: 49.47%;
          top: 21.53%;
          bottom: 0%;
          
     }
     h2{
          position: absolute;
          left: 56.48%;
          right: 24.78%;
          top: 21.53%;
          bottom: 7.89%;

          background: #FFFFFF;

     }
     h3{
          position: absolute;
          left: 80.56%;
          right: 0%;
          top: 21.25%;
          bottom: 7.9%;

          background: #FFFFFF;
     }
     
}