
// mixin pages Desktop length D_Home D_Fiche-Logement D_404 D_A-Propos 


@mixin pageLengthdesktop{
     position: relative;
     width: 1440px;
     height: 1024px;

     background: #FFFFFF;
}

@mixin pageLengthmobile{
     position: relative;
     width: 375px;
     height: 812px;

     background: #FFFFFF;
}

// mixin composant collapse

@mixin collapse-apropos{
     position: absolute;
     width: 1023px;
     //height: 184px;
     left: 208px;
}
@mixin pageLengthDaproposOpen{
     position: absolute;
     //width: 1440px;
     height: 1333px;
     
    
}
@mixin collapse-aproposM{
     position: absolute;
     width: 335px;
     height: 30px;
     left: 20px;
}