.logement-rectangle31{
     position: absolute;
     width: 115px;
     height: 25px;
     left: 0px;
     //top: 670px;
     background: #FF6060;
     border-radius: 10px;
          
          .logement-rectangle3-texte{
               p{
                    position: absolute;
                    left: 34.78%;
                    right: 35.65%;
                    top: 12%;
                    bottom: 8%;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 142.6%;
                    /* identical to box height, or 20px */

                    text-align: center;

                    color: #FFFFFF;

               }
          }
}
.logement-rectangle32{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 225px;
     left: 130px;
     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;
    
     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 32.17%;
               right: 32.17%;
               top: 12%;
               bottom: 8%;

               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 500;
               font-size: 14px;
               line-height: 142.6%;
               /* identical to box height, or 20px */

               text-align: center;

               color: #FFFFFF;

          }
     }

}
.logement-rectangle33{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 350px;
     left: 260px;

     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;
    
     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 26.09%;
               right: 26.96%;
               top: 12%;
               bottom: 8%;
               
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 500;
               font-size: 14px;
               line-height: 142.6%;
               /* identical to box height, or 20px */
               
               text-align: center;
               
               color: #FFFFFF;
     
          }
     }

}