.logement-rectangle3-texte{
     p{
          position: absolute;
          left: 36.78%;
          //left: -37.22%;
          right: 35.65%;
          top: 12%;
          bottom: 8%;
          //width: 202px;
          @include  policeStyle1();
          font-size: 14px;
          text-align: center;
          display: flex;
          justify-content: center;
          color: #FFFFFF;

     }
}

.logement-rectangle31{
     position: absolute;
     width: 115px;
     height: 25px;
     left: 0px;
     //top: 670px;
     background: #FF6060;
     border-radius: 10px;
          
          
}
.logement-rectangle32{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 225px;
     left: 130px;
     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;
    
    
}
.logement-rectangle33{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 350px;
     left: 260px;

     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;

}
.logement-rectangle34{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 350px;
     left: 389px;

     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;
   
}
.logement-rectangle35{
     position: absolute;
     width: 115px;
     height: 25px;
     //left: 350px;
     left: 518px;

     //top: 670px;
     background-color: #FF6060;
     border-radius: 10px;
 
}
@media screen and (min-width: 769px) and (max-width:1400px){
     .logement-container{
          top: 217%;
          position: relative;
          width: 100%;
    
          .logement-rectangle3-texte{
               p{
                    position: absolute;
                    left: 32%;
                    right: 36.82%;
                    top: 12%;
                    bottom: 10.22%;
     
                    @include  policeStyle1();
                    font-size: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
          
                    color: #FFFFFF;
          
               }
          }
          
          .logement-rectangle31{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               left: 0px;
               //top: 670px;
               top: -214px;
               background: #FF6060;
               border-radius: 5px;
               
              
                    
          }
          .logement-rectangle32{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 225px;
               left: 94px;
               left: 24.5%;
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
              
              
          }
          .logement-rectangle33{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 350px;
               left: 187px;
               left: 49%;
          
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
          
          }
          
          .logement-rectangle34{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 350px;
               left: 280px;
               left:74%;
          
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
             
          }
     .logement-rectangle35{
          display: none;
     }        
}
}     
@media screen and (min-width: 551px) and (max-width:768px){
     .logement-container{
          top: 217%;
          position: relative;
          width: 100%;
    
          .logement-rectangle3-texte{
               p{
                    position: absolute;
                    left: 29%;
                    right: 36.82%;
                    top: 12%;
                    bottom: 10.22%;
     
                    @include  policeStyle1();
                    font-size: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    color: #FFFFFF;
          
               }
          }
          
          .logement-rectangle31{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               left: 0px;
               //top: 670px;
               top: -214px;
               background: #FF6060;
               border-radius: 5px;
               
              
                    
          }
          .logement-rectangle32{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 225px;
               left: 94px;
               left: 24.5%;
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
              
              
          }
          .logement-rectangle33{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 350px;
               left: 187px;
               left: 49%;
          
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
          
          }
          
          .logement-rectangle34{
               position: absolute;
               width: 84px;
               width: 23%;
               height: 18px;
               //left: 350px;
               left: 280px;
               left:74%;
          
               //top: 670px;
               top: -214px;
               background-color: #FF6060;
               border-radius: 5px;
             
          }
     .logement-rectangle35{
          display: none;
     }        
}
}
@media screen and (min-width: 427px) and (max-width:550px){
     .logement-container{
          top: 217%;
          position: relative;
          width: 100%;
    

     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 15%;
               right: 36.82%;
               top: 12%;
               bottom: 10.22%;

               @include  policeStyle1();
               font-size: 10px;
               text-align: center;
               display: flex;
               justify-content: center;
               color: #FFFFFF;
     
          }
     }
     
     .logement-rectangle31{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          left: 0px;
          //top: 670px;
          top: -214px;
          background: #FF6060;
          border-radius: 5px;
          
         
               
     }
     .logement-rectangle32{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 225px;
          left: 94px;
          left: 24.5%;
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
         
         
     }
     .logement-rectangle33{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          left: 187px;
          left: 49%;
     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
     
     }
     
     .logement-rectangle34{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          left: 280px;
          left:74%;
     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
        
     }
     .logement-rectangle35{
          display: none;
     }    
} }
@media screen and (min-width: 377px) and (max-width:426px){
     .logement-container{
          top:0%;
          position: relative;
          width: 100%;
    
     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 37%;
               right: 36.82%;
               top: 12%;
               bottom: 10.22%;

               @include  policeStyle1();
               font-size: 10px;
               text-align: center;
               display: flex;
               justify-content: center;
               color: #FFFFFF;
     
          }
     }
     
     .logement-rectangle31{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          left: 0px;
          //top: 670px;
          top: -214px;
          background: #FF6060;
          border-radius: 5px;
          
         
               
     }
     .logement-rectangle32{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 225px;
          left: 94px;
          left: 24.5%;
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
         
         
     }
     .logement-rectangle33{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          left: 187px;
          left: 49%;
     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
     
     }
     
     .logement-rectangle34{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          left: 280px;
          left:74%;
     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
        
     }
     .logement-rectangle35{
          display: none;
     }    
}}
@media screen and (min-width: 351px)and (max-width:376px){
     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 36%;
               right: 36.82%;
               top: 12%;
               bottom: 10.22%;

               @include  policeStyle1();
               font-size: 10px;
               text-align: center;
               display: flex;
               justify-content: center;
               color: #FFFFFF;
     
          }
     }
     
     .logement-rectangle31{
          position: absolute;
          //width: 84px;
          width: 23%;
          height: 18px;
          left: 0px;
          //top: 670px;
          top: -214px;
          background: #FF6060;
          border-radius: 5px;
          
         
               
     }
     .logement-rectangle32{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 225px;
          left: 94px;
          left: 26%;
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
         
         
     }
     .logement-rectangle33{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          //left: 187px;
          left: 52%;

     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
     
     }
     
     .logement-rectangle34{
          display:none
        
     }
     .logement-rectangle35{
          display: none;
     }    
}
@media screen and (min-width: 321px)and (max-width:350px){

     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 36%;
               right: 36.82%;
               top: 12%;
               bottom: 10.22%;

               @include  policeStyle1();
               font-size: 9px;
               text-align: center;
               display: flex;
               justify-content: center;
               color: #FFFFFF;
     
          }
     }
     
     .logement-rectangle31{
          position: absolute;
          //width: 84px;
          width: 23%;
          height: 18px;
          left: 0px;
          //top: 670px;
          top: -214px;
          background: #FF6060;
          border-radius: 5px;
          
         
               
     }
     .logement-rectangle32{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 225px;
          left: 94px;
          left: 26%;
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
         
         
     }
     .logement-rectangle33{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          //left: 187px;
          left: 52%;

     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
     
     }
     
     .logement-rectangle34{
          display:none
        
     }
     .logement-rectangle35{
          display: none;
     }    

}
@media screen and (max-width: 320px){
     .logement-rectangle3-texte{
          p{
               position: absolute;
               left: 34%;
               right: 36.82%;
               top: 24%;
               bottom: 10.22%;

               @include  policeStyle1();
               font-size: 8px;
               text-align: center;
               display: flex;
               justify-content: center;
               color: #FFFFFF;
     
          }
     }
     
     .logement-rectangle31{
          position: absolute;
          //width: 84px;
          width: 23%;
          height: 18px;
          left: 0px;
          //top: 670px;
          top: -214px;
          background: #FF6060;
          border-radius: 5px;
          
         
               
     }
     .logement-rectangle32{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 225px;
          left: 94px;
          left: 26%;
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
         
         
     }
     .logement-rectangle33{
          position: absolute;
          width: 84px;
          width: 23%;
          height: 18px;
          //left: 350px;
          //left: 187px;
          left: 52%;

     
          //top: 670px;
          top: -214px;
          background-color: #FF6060;
          border-radius: 5px;
     
     }
     
     .logement-rectangle34{
          display:none
        
     }
     .logement-rectangle35{
          display: none;
     }    
}     
