.kasa-logo-header{
    
     position: absolute;
     left: 45.76%;
     right: 45.76%;
     top: 31.58%;
     bottom: 49.55%;
     
     
}
.kasa-logo-footer{
    
     position: absolute;
     left: 45.76%;
     right: 45.76%;
     top: 31.58%;
     bottom: 49.55%;
     

     
}